
@font-face {
  font-family: 'WhitneyMed';
  src: url('fonts/Whitney-Medium-ProGkCy.otf') format('opentype');
}

@font-face {
  font-family: 'WhitneyBook';
  src: url('fonts/Whitney-Book-ProGkCy.otf') format('opentype');
}